.page-register {
  .header {
    border-bottom: 2px solid #FFC300;
    min-width: 980px;
    color: #666;

    header {
      margin: 0 auto;
      padding: 10px 0;
      width: 980px;

      .site-logo {
        display: inline-block;
        width: 140px;
        height: 50px;
        background-size: cover;
        background-image: url(//s0.meituan.net/bs/fe-web-meituan/fa5f0f0/img/logo.png);
      }

      .login {
        float: right;
        margin-top: 8px;
      }

      .bold {
        font-style: normal;
      }
    }
  }

  el-button {
    // background-image: linear-gradient(135deg,#FFD000 0,#FFBD00 100%); 
    color: #222222;
  }

  >section {
    margin: 0 auto 30px;
    padding-top: 30px;
    width: 980px;
    min-height: 300px;
    padding-right: 550px;
    box-sizing: border-box;

    .status {
      font-size: 12px;
      margin-left: 20px;
      color: #e6a23c;
    }

    .error {
      color: red;
    }
  }
}